*, *::after, *::before{
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body{
  font-family: "Roboto" "Tinos", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", serif;;
  margin: 0 auto;
}
nav{
  position: relative;
  background-color: rgba(255, 0, 255,0.1);
  z-index: 999;
  height: 100px;
}
.autoImg{
  width: 85px;
    height: 85px;
    margin-top: -400px;
}
.navbar{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 0px;
  &_brand{
    width: 75px;
    height: 20px;
    margin-top: 225px;
    margin-left: 30px;
    @media screen and (min-width: 992px) {
      width: 75px;
      height: 45px;
    }

    @media screen and (min-width: 992px) {
      width: 100px;
      height: 65px;
    }
  }

  &_menu{
    display: flex;
    gap: 20px;
    margin-top: -160px;
   font-size: 18px;
    .customBox{
      opacity: 0;
      width: 0;
      height: 0;
      display: flex;

      & ~ label{
        display: none;
      }
      @media screen and (max-width: 992px) {

        & ~ label{
          color: #5a189a;
          display: block;
          display: flex;
          align-items: center;
          height: 18px;
          width: 24px;
          position: relative;

          .icon{
            width: 24px;
            height: 2px;
            background-color: #1f1f1f;
            

            &::before, &::after{
              content: "";
              width: 24px;
              height: 2px;
              
              background-color: #1f1f1f;
              position: absolute;
              display: block;
              transform: rotate(0deg);
              transition: all .5s ease;
            }

            &::before{
              top: 0;
              transition: all .5s ease;
            }

            &::after{
             
              bottom: 0;
              transition: all .5s ease;
            }
          }

          & ~ .navbar_list{
            position: absolute;
            background-color: rgba(255, 0, 255,1);
            padding: 20px;
            top: 65px;
            left: 0;
            
            right: 0;
            width: 100%;
            display: none;
            text-align: center;
            @media screen and (min-width: 768px) {
              left: auto;
              width: 100%;
            }
          }
        }
  
        &:checked ~ label{
          .icon{
            transform: rotate(0deg);
            background-color: transparent;
            &::before{
              transform: rotate(45deg);
            }
            &::after{
              transform: rotate(-45deg);
            }
          }
          & ~ .navbar_list{
            display: block;
            opacity: 0;
            
            animation: fadeIn 1s ease .1s 1 forwards;
          }
        }
      }
    }

  }

  &_list{
    list-style: none;
    gap: 45px;
    padding-left: 0px;
    margin-top: 5px;
    @media screen and (min-width: 768px) {
      display: flex;
    }

    &_item{
      
      margin-bottom: 10px;
      @media screen and (min-width: 768px) {
        margin-bottom: 0px;
      }
    }
  }


  &_link{
    
    text-decoration: none;
    color: #5a189a;
    font-weight:bold;
    transition: all .5s ease;
    @media screen and (min-width: 992px) {
      &:hover{
        color: #00BFFF;
        
      }
      
      
    }
  }
}
.name-navsa{
  padding-right: 135px;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
    transform: translateX(100%);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}
.terew_get{
  margin-top: 0px;
  margin-left: 200px;
}
.text_ter{
  padding-top: 100px;
}
.btnt {
  display: block;
  text-decoration: none;
  border: none;
  text-align: center;
  justify-content: center;
  background-color: #FEEEB8;
  font-weight: 700;
  font-size: 17px;
  margin-top: -35px;
  margin-right: -50px;
  margin-left: 50px;
  color: #7b2cbf;
  transition: all 0.3s ease;
  width: 150px;
  height: 42px;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
}

.btnt:hover {
  background-color: #FEEEB8;
}

.btnt:active {
  transform: scale(0.98);
  border: none;
}
.btntt {
  display: block;
  text-decoration: none;
  border: none;
  text-align: center;
  justify-content: center;
  background-color: #FEEEB8;
  font-weight: 700;
  font-size: 17px;
  margin-right: -80px;
  margin-left: 30px;
  color: #7b2cbf;
  transition: all 0.3s ease;
  width: 180px;
  margin-top: -35px;
  height: 42px;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
}

.btntt:hover {
  background-color: #FEEEB8;
}

.btntt:active {
  transform: scale(0.98);
  border: none;
}

.conteuner {
  background-color: #FFF1E5;
}

  .Garden{
  font-size: 60px;
  color: #9d4edd;
  font-weight: bold;
  }
  .p{
    font-size: 18px;
    font-weight: 500;
  }
  .btn{
    position: absolute;
    background-color: #9d4edd;
    color:#fff;
    font-weight: 500;
    border: 2px solid #c77dff;
    margin-bottom: 30px;
    margin-top: 20px;
    height: 50px;
    transition: all .5s ease;
    &:hover{
        background-color: #5a189a;
         color: #fff;
    }
  }
  .btn_listtnn{
    margin-top: 100px;
    margin-left: 85px;
    z-index: 3;
    transition: all .5s ease;
  }
  .reset_retes:hover .btn_listtnn{
    background-color: #c77dff;
    z-index: 8;
    &:hover{
      background-color: #7b2cbf;
    }
  }

  .reset_retes{
    position: absolute;
    width: 350px;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    transition: all .5s ease;
  }
  .template{
    transition: all .5s ease;
    position: absolute;
    width: 350px;
    height: 250px;
    z-index: 5;
  }
  .reset_retes:hover .template{
    z-index: 1;
    opacity: 0.5;
  }
  .btn_listt{
    margin-top: 10px;
    margin-bottom: 35px;
    margin-left: 10px;
  }
  .btn_list__item{
    margin-top: 280px;
    margin-left: 10px;
    padding: 0px;
  }
  .carousel{
    width: 670px;
    
  }
  
  .Gardenn{
    padding-top: 70px;
    font-size: 44px;
    font-weight: bold;
    color: #9d4edd;
    text-align: center;
  }
  .p1{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .class{
    font-size: 28px;
    color: #9d4edd;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 20px;
  }
  .btn_list__iten{
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
  }
 
  
  .templatet{
    width: 350px;
    height: 250px;
    
  }
  .col_iten{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-right: 40px;
    margin-left: 40px;
    width: 350px;
    border-radius: 15px;
    height: 550px;
    margin-top: 60px;
  }

  .col_item{
   width: 430px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   margin-right: 30px;
   border-radius: 20px;
   margin-top: 40px;
   height: 200px;
  }
  .p_item{
    font-size: 24px;
    font-weight: 700;
    color: #9d4edd;
    padding-top: 30px;
  }
  .p_text{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
  }
  //---------------

  .col-12 {
    overflow: hidden;
  }
  .carousel-item {
    position: relative;
  }
  .carousel-item {
    height: 550px;
    min-height: 200px;
   margin-left: 5px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 665px;
  }
  .carousel{
    max-width:665px;
  }
 
  .carousel-inner {
    overflow: initial;
  }
  
  .carousel-control-buttons-flex {
    display: flex;
    max-width: 665px;
  }
  
  .carousel-control-prev-icon {
    position: absolute;
    
    width: 55px;
    height: 55px;
    background-image: url(../img/arrow-1.svg);
    z-index: 3;
    color: #5a189a;
    background-color: #7b2cbf;
    border-radius: 99%;
    margin-left: -25px;
  }
  
  .carousel-control-next-icon {
    position: absolute;
    margin-left: 40px;
    width: 55px;
    color: #5a189a;
    background-color: #7b2cbf;
    border-radius: 99%;
    height: 55px;
    background-image: url(../img/arrows-2.svg);
    z-index: 3;
  }
  
  .d-img{
    position: absolute;
    z-index: 1;
    width:665px;
    height: 550px;
  }
  .item_row{
    margin-right: 5px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .item_roww{
    margin-right: 10px;
    margin-left:50px;
    margin-top: 50px;
  }
  
  //___________________________________
  .d-blol{
    width: 260px;
    height: 250px;
    border-radius: 999px;
    margin-right: -30px;
  }
 
      .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 0s;
      }
      @-webkit-keyframes fade {
      from {opacity: 1} 
      to {opacity: 1}
      }
      @keyframes fade {
      from {opacity: 1} 
      to {opacity: 1}
      }
      
      /* Для маленьких экранов увеличьте размер текста */
      @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
      }
  .coll_iten{
  text-align: left;
  padding-top: 40px;
  padding-left: 20px;
  }
  .iter_rew{
    width: 1000px;
    margin-top: 90px;
    background-color: #dbb4f9;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 0px;
  }
  .carousel-indicators{
    position: absolute;
    z-index: 3;
    background-color: #5a189a;
    padding-top: -50px;
    display: none;
  }
  .dot-not{
    margin-left: 60px;
  }
 // ______________________________
 .param-sarr{
  padding-top: 10px;
  padding-left: 20px;
font-size: 16px;
text-align: center;
}
.parem-red{
  font-size: 18px;
  font-weight: 400;
}
.param-sar{
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}
.liniuu{
  width: 2px;
  height: 140px;
  background-color: #000;
  justify-content: flex-end;
  position: absolute;
  margin-top: -80px;
}
footer{
  margin-top: 60px;
  color: #000 !important;
 background-color: rgba(255, 0, 255,0.1);
}
.hetas{
  margin-top: 10px;
  width: 1280px;
  height: 2px;
  background-color: #000;
  margin-bottom: 10px;
  justify-content: center;
  margin-left: 120px;
  margin-bottom: 40px;
}
.liniu{
  width: 2px;
  height: 160px;
  background-color: #000;
  justify-content: flex-end;
  position: absolute;
  margin-top: -120px;
}
.img-herd{
  margin-bottom: 30px;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  transition: all 0.7s ease;
  &:hover{
      opacity: 0.8;
      width: 43px;
      height: 43px;
  }
}
.img-bod{
  margin-bottom: 30px;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  transition: all 0.7s ease;
  &:hover{
      opacity: 0.8;
      width: 43px;
      height: 43px;
  }
}
.img-adres{
  margin-top: 30px;
  margin-bottom: 18px;
  width: 60px;
  height: 60px;
}
.img-tephon{
  margin-top: 15px;
  width: 90px;
  height: 90px;
}
.img-email{
  margin-top: 35px;
  margin-bottom: 25px;
  width: 50px;
  height: 50px;
}
.col-carysel{
  margin-top: 50px;
}
.col-garden{
  margin-left: 50px;
}
.dot-not{
  margin-bottom: 30px;
}
  ___________________________________

  .modal-content{
    width: 400px;
   
  }
  
  .modal{
    &-content{
      border: none;
      box-shadow: rgba(123, 44, 191, 0.45) 0px 54px 55px, rgba(123, 44, 191, 0.62) 0px -12px 30px, rgba(123, 44, 191, 0.62) 0px 4px 6px, rgba(123, 44, 191, 0.67) 0px 12px 13px, rgba(123, 44, 191, 0.69) 0px -3px 5px;
    background-color: #1f1f1f;
    color: white;
    width: 600px !important;
    height: 720px !important;
    }
    &-img{
      width: 80px;
      height: 70px;
      margin-left: 30px;
      margin-top: 0px;
    }
    &-title{
      margin-left: 30px;
      margin-top: 10px;
      margin-bottom: 50px;
    }
    &-titlet{
      margin-left: 30px;
      margin-top: 10px;
      margin-bottom: 20px;
      }
    .form-control{
      margin-top: 35px;
      margin-left: 20px;
      padding-bottom: 7px;
      background-color: transparent;
      color: white;
      border: none;
      width: 425px;
      border-bottom: 2px solid #5a189a;
      border-radius: 0px;
      height: 40px;
      &:focus{
        border: none;
        box-shadow: none;
        outline: none;
        border-bottom: 3px solid #c77dff;
        padding-top: -20px;
      }
    }
  
  }
  .btn{
   &-close{
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    transition: all 0.5s ease;
   &:focus{
    outline: none;
    border: 0px;
    box-shadow: none;
  
   }
   &:hover{
    transform: rotate(90deg);
   }
  }
  }
  .checkbox{
    width: 0px;
    height: 0px;
    opacity: 0;
    display: block;
  }
  
  .checkbox_custom{
    display: flex;
    align-items: center;
  
  }
  
  .checkbox_custom:before{
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    border: 2px solid #7F7F7F;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: -13px;
    transition: all .5s ease;
    display: flex;
    align-items: center;
  }
  
  .checkbox_custom:hover::before{
    background-color:rgba(157, 78, 221,0.4);
  }
  
  
  .checkbox:checked ~ .checkbox_custom::before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 18 14' fill='none'%3E%3Cpath d='M1 7L7 13L17 1' stroke='violet' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  
  }
  a{
  color:#c77dff;
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
  }
  
  .label{
  display: block;
  width: 400px;
  height: 60px;
  margin-top: 25px;
  margin-left: 25px;
  }
  .parag_cher{
  width: 400px;
  
  }
  .div{
  background-color: #9d4edd;
  text-align: center;
  width: 180px;
  border-radius: 20px;
  color: white;
  height: 50px;
  margin-left:40px;
  font-size: 20px;
  margin-top: 30px;
  padding-top: 2px;
  border: none;
  box-shadow: #c77dff 0.5px 0 7px;
  transition-property: all;
  border: 2px solid #9d4edd;
    &:active{
      background-color: none;
       color: white;
       
    }
  }
  .div:hover{
  border: none;
  background-color:#7b2cbf;
  box-shadow: #c77dff 0.5px 0 7px;
   transition: all .1s ease;
  
  }
  
  .div_item{
  background-color: #9d4edd;
  text-align: center;
  width: 200px;
  border-radius: 20px;
  color: white;
  height: 50px;
  margin-left:140px;
  font-size: 20px;
  margin-top: 30px;
  padding-top: 2px;
  margin-bottom: 50px;
  border: none;
  box-shadow: #c77dff 0.5px 0 7px;
  transition-property: all;
    
    &:active{
      background-color: none;
       color: white;
       border: 2px solid white;
    }
    
  }
  .div_item:hover{
  border: none;
  background-color:#7b2cbf;
  box-shadow: #c77dff 0.5px 0 7px;
  transition: background-color 0.6s ease;
  
  }
  .nav-itemn{
  height: 50px; 
  margin-left: 30px;
  }
  .btn-primaryre{
  width: 80px;
  margin-top: 0px;
  height: 45px;
  align-items: center;
  text-align: center;
  &:focus{
    background-color: #5a189a;
  }
  }
  .nav-itemnm{
  height: 50px; 
  
  margin-left: 30px;
  }
  .btn-primaryre{
  margin-top: 5px;
  height: 50px;
  margin-left:  -20px;
  }
  .btn-primaryrer{
  width: 160px;
  height: 50px;
  margin-top: 0px;
  margin-left: -180px;
  margin-top: 5px;
  }
  .floating-label{
  display: inline-block;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    left: 60px;
    top: 25px;
  
    line-height: 18px;
    color: #fff;
    -webkit-transform: translate(0,-24px);
    -ms-transform: translate(0,-24px);
    transform: translate(0,-24px);
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    pointer-events: none;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    
    max-width: 100%;
    &:focus{
      outline: 0;
    }
  }
  .div_itemm{
  background-color: #9d4edd;
  text-align: center;
  width: 180px;
  border-radius: 20px;
  color: white;
  height: 50px;
  margin-left:145px;
  font-size: 20px;
  margin-top: 30px;
  padding-top: 2px;
  border: none;
  box-shadow: #c77dff 0.5px 0 7px;
  transition-property: all;
    
    &:active{
      background-color: none;
       color: white;
       border: 2px solid white;
    }
    
  }
  .div_itemm:hover{
  border: none;
  background-color:#7b2cbf;
  box-shadow: #c77dff 0.5px 0 7px;
   transition: all .1s ease;
  
  }
  .item_item{
  margin-left: 10px;
  margin-top: 20px;
  color: #fff !important;
  &:hover{
    color: rgba(241, 222, 255, 0.9) !important;
  }
  }


.terewer{
  font-size: 16px;
  margin-left: 60px;
  font-weight: 500;
  text-align: center;
  padding-top: 120px;
}
.list-der{
  
  margin-left: -70px;
}
.img_fes{
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 165px;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 7px 29px 0px;
  transition: all 0.5s ease;
  &:hover{
    width: 53px;
    height: 53px;
  }
}

.img_gog{
  width: 50px;
  height: 50px;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 7px 29px 0px;
  background-color: #fff;
  padding: 5px;
  margin-top: 10px;
  margin-left: 30px;
  transition: all 0.5s ease;
  &:hover{
    width: 53px;
    height: 53px;
  }
}

@media screen and (min-width: 1600px){
 .mySlides{
  margin-left: -112px;
 }
}
@media screen and  (min-width: 1600px){
  .row{
    margin-left: 100px;
    margin-right: 100px;
  }
 }
 @media screen and  (min-width: 1900px){
   .row{
     margin-left: 200px;
     margin-right: 200px;
   }
  }
  @media screen and  (min-width: 2100px){
   .row{
     margin-left: 400px;
     margin-right: 400px;
   }
  }
  @media screen and  (max-width: 1460px){
   .nav-itemnm{
     margin-right: 50px;
   }
   .carousel{
    width: 500px;
    height: 500px;
    margin-left: 50px;
   }
   .d-img{
    width: 500px;
    height: 500px;
   }
   .carousel-item{
    width: 500px;
    height: 500px;
   }
   .carousel-control-prev{
    margin-left: 10px;
   }
   .carousel-control-next{
  margin-right: 10px;
   }
 }
 @media screen and  (max-width: 1300px){
  .carousel{
    width: 500px;
    height: 500px;
    margin-left: 0px;
   }
 }
 @media screen and  (max-width: 1120px){
  .carousel{
    width: 400px;
    height: 350px;
    margin-left: 0px;
   }
   .d-img{
    width: 400px;
    height: 350px;
   }

   .carousel-item{
    width: 400px;
    height: 350px;
   }
   .carousel-control-prev{
    margin-left: 10px;
   }
   .carousel-control-next{
  margin-right: 10px;
   }
 }
 @media screen and  (max-width: 1400px){
   .button_listt_item{
     margin-right: 240px;
   }
   .name-navsa{
     padding-right: 45px;
   }
 }
 @media screen and  (max-width: 1320px){
   
 }
 @media screen and  (max-width: 1200px){
   .button_listt_item{
     margin-right: 120px;
   }
   .name-navsa{
     padding-right: 0px;
   }
   .mySlides{
    margin-left: -41px;
 }
}
@media screen and  (max-width: 1050px){
  .mySlides{
   margin-right: -330px;
    
 }
 .slideshow-container{
  width: 700;
 }
 .d-blol{
  width: 180px;
  height: 170px;
  border-radius: 999px;
  margin-right: -30px;
  margin-top: 40px;
 }
 .coll_iten{
  margin-top: -10px;
  width: 420px;
 }
 .iter_rew{
  width:700px;
 }
 .prev{
  margin-left: 164px;
 }
 .next{
  margin-right: 136px;
 }
 .dot-not{
  margin-right: -70px;
 }
 
}
 @media screen and  (max-width: 1120px){
   .nav-itemnm{
     margin-right: 100px;
   }
   .fast{
     font-size: 9px;
     
   }
 
 }

 @media screen and  (max-width: 992px){
  .img-herd{
   margin-top: 30px;
   margin-top: 30px;
  }
  .img-bod{
    margin-top: 30px;
   margin-top: 30px;
  }
  .img-row{
    margin-left: 30px;
  }
  .carousel{
    justify-content: center;
    width: 650px;
    height: 600px;
    margin-left: 100px;
   }
   .d-img{
    width: 650px;
    height: 600px;
   }
   .carousel-item{
    width: 650px;
    height: 600px;
   }
   .carousel-control-prev{
    margin-left: 10px;
   }
   .carousel-control-next{
  margin-right: 10px;
   }

  .mySlides{
    margin-right: -90px;
  }
  .row-foter{
    margin-left: 40px;
  }
  .item_row{
    margin-left: 0px;
    margin-right: 0px;
  }
  .p{
    text-align: center;
  }
  .text_ter{
    text-align: center;
  
  }
  .terew_geh{
    text-align: center;
    margin-left: -450px;
  }
  .terew_get{
    text-align: center;
    margin-left: -50px;
  }
  .Garden{
    text-align: center;
  }
  .d-blol{
   width: 180px;
   height: 170px;
   border-radius: 999px;
   margin-right: -30px;
   margin-top: 40px;
  }
  .coll_iten{
   margin-top: -10px;
   width: 420px;
  }
  .iter_rew{
   width:700px;
  }
  .prev{
   margin-left: 155px;
   margin-top: 165px;
  }
  .next{
   margin-right: 127px;
   margin-top: 165px;
  }
  .dot-not{
    margin-bottom: 50px;
   margin-right: -70px;
   
  }
 
  
   .navbar_list_item{
     margin-top: 25px;
    
   }
   .navbar_list{
     margin-top: 35px;
   }
   .btntt{
     margin-top: -30px;
    margin-left: 235px;
   }
   .btnt{
     margin-top: -65px;
     margin-left: 255px;
   }
   .navbar_link{
     &:hover{
       color: #00BFFF;
       font-size: 20px;
     }
   }
  
    .autoImg{
    margin-top: -395px;
 }
 
   .row-item{
     text-align: center;
     justify-content: center;
    left: 20px;
   }
   .text-reset{
     margin-left: -20px;
   }
   .text-uppercase{
     padding-top: 40px;
   }
 
   
 }
 @media screen and  (max-width: 900px){
  .carousel{
    justify-content: center;
    width: 650px;
    height: 600px;
    margin-left: 70px;
   }
   .d-img{
    width: 650px;
    height: 600px;
   }
   .carousel-item{
    width: 650px;
    height: 600px;
   }
   .carousel-control-prev{
    margin-left: 10px;
   }
   .carousel-control-next{
  margin-right: 10px;
   }
 }
 @media screen and  (max-width: 800px){
  .carousel{
    justify-content: center;
    width: 650px;
    height: 600px;
    margin-left: 10px;
   }
   .d-img{
    width: 650px;
    height: 600px;
   }
   .carousel-item{
    width: 650px;
    height: 600px;
   }
   .carousel-control-prev{
    margin-left: 10px;
   }
   .carousel-control-next{
  margin-right: 10px;
   }
 }
 @media screen and  (max-width: 700px){
  .carousel{
    justify-content: center;
    width: 550px;
    height: 500px;
    margin-left: 50px;
   }
   .d-img{
    width: 550px;
    height: 500px;
   }
   .carousel-item{
    width: 550px;
    height: 500px;
   }
   .carousel-control-prev{
    margin-left: 10px;
   }
   .carousel-control-next{
  margin-right: 10px;
   }
 }
 @media screen and  (max-width: 650px){
  .carousel{
    justify-content: center;
    width: 550px;
    height: 500px;
    margin-left: 20px;
   }
   .d-img{
    width: 550px;
    height: 500px;
   }
   .carousel-item{
    width: 550px;
    height: 500px;
   }
   .carousel-control-prev{
    margin-left: 10px;
   }
   .carousel-control-next{
  margin-right: 10px;
   }
 }
 @media screen and  (max-width: 600px){
  .carousel{
    justify-content: center;
    width: 450px;
    height: 400px;
    margin-left: 60px;
   }
   .d-img{
    width: 450px;
    height: 400px;
   }
   .carousel-item{
    width: 450px;
    height: 400px;
   }
   .carousel-control-prev{
    margin-left: 10px;
   }
   .carousel-control-next{
  margin-right: 10px;
   }
 }
 @media screen and  (max-width: 550px){
  .carousel{
    justify-content: center;
    width: 450px;
    height: 400px;
    margin-left: 20px;
   }
   .d-img{
    width: 450px;
    height: 400px;
   }
   .carousel-item{
    width: 450px;
    height: 400px;
   }
   .carousel-control-prev{
    margin-left: 10px;
   }
   .carousel-control-next{
  margin-right: 10px;
   }
 }
 @media screen and  (max-width: 500px){
  .carousel{
    justify-content: center;
    width: 350px;
    height: 350px;
    margin-left: 50px;
   }
   .d-img{
    width: 350px;
    height: 350px;
   }
   .carousel-item{
    width: 350px;
    height: 300px !important;
   }
   .carousel-control-prev{
    margin-left: 10px;
   }
   .carousel-control-next{
  margin-right: 10px;
   }
 }
 @media screen and  (max-width: 450px){
  .carousel{
    justify-content: center;
    width: 350px;
    height: 350px;
    margin-left: 20px;
   }
   .d-img{
    width: 350px;
    height: 350px;
   }
   .carousel-item{
    width: 350px;
    height: 300px !important;
   }
   .carousel-control-prev{
    margin-left: 10px;
   }
   .carousel-control-next{
  margin-right: 10px;
   }
 }
 @media screen and  (max-width: 390px){
  .carousel{
    justify-content: center;
    width: 200px;
    height: 200px;
    margin-left: 80px;
   }
   .d-img{
    width: 200px;
    height: 200px;
   }
   .carousel-item{
    width: 200px;
    height: 200px !important;
   }
   .carousel-control-prev{
    margin-left: 30px;
   }
   .carousel-control-next{
  margin-right: 30px;
   }
 }
 @media screen and  (max-width: 290px){
  .carousel{
    justify-content: center;
    width: 200px;
    height: 200px;
    margin-left: 10px;
   }
   .d-img{
    width: 200px;
    height: 200px;
   }
   .carousel-item{
    width: 200px;
    height: 200px !important;
   }
   .carousel-control-prev{
    margin-left: 30px;
   }
   .carousel-control-next{
  margin-right: 30px;
   }
 }
 @media screen and  (max-width: 350px){
  .carousel{
    justify-content: center;
    width: 200px;
    height: 200px;
    margin-left: 40px;
   }
   .d-img{
    width: 200px;
    height: 200px;
   }
   .carousel-item{
    width: 200px;
    height: 200px !important;
   }
   .carousel-control-prev{
    margin-left: 30px;
   }
   .carousel-control-next{
  margin-right: 30px;
   }
 }
 @media screen and  (max-width: 768px){
  .item_row_red{
    margin-left: 0px !important;
  }
  .btntt{
   margin-top: -30px;
  margin-left: 150px;
 }
 .btnt{
   margin-top: -65px;
   margin-left: 165px;
 }
.numbertext{
  display: none;
}
.slideshow-container{
  width: 450px;
}
 .mySlides{
  width: 450px;
   }
.d-blol{
 width: 180px;
 height: 170px;
 border-radius: 999px;
 margin-right: 0px;
 margin-top: 0px;
}
.coll_itet{
 width: 450px;
}
.coll_iten{
 margin-top: -10px;
 width: 450px;
 margin-left: -10px;
 padding-right: 40px;
 text-align: center;
}
.iter_rew{
  margin-left: 40px;
 width:450px;
}
.prev{
 margin-left: -2px;
 margin-top: 255px;
}
.next{
 margin-right: 2px;
 margin-top: 255px;
}
.dot-not{
 margin-right: -20px;
 
}


 }
 @media screen and  (max-width: 568px){
   .navbar_list_item{
     margin-top: 25px;
   }
   
   .modal-titlet{
    margin-top: 20px;
   }
   .btntt{
     margin-top: -30px;
    margin-left: 150px;
   }
   .col_iten{
    width: 300px;
    height: 550px !important;
   }
   .modal-img{
     margin-top: 0px;
   }
   .modal-title{
     margin-top: 10px;
   }
   
   .modal{
     margin-top: 0px;
     margin-left: 0px;
     height: 800px !important;
   }
   .btnt{
     margin-top: -65px;
     margin-left: 165px;
   }
   .template{
    width: 300px;
    height: 250px;
   }
  
   .reset_retes{
    width: 300px;
    height: 250px;
   }
   .btn_listtnn{
    margin-left: 70px;
    margin-top: 105px;
   }
   .btn_listt{
     margin-top: 30px;
     margin-left: 55px;
   }
  .row-foter{
    margin-left: 50px;
    margin-right: 20px;
  }
 }
 @media screen and  (max-width: 520px){
   .btntt{
     margin-top: -30px;
    margin-left: 130px;
   }
   .btnt{
     margin-top: -65px;
     margin-left: 145px;
   }
   .label{
     display: block;
     width: 350px;
     height: 60px;
     }
     .div_item{
      margin-left: 120px;
     }
   
 }
 @media screen and  (max-width: 480px){
   .btntt{
     margin-top: -30px;
    margin-left: 110px;
   }
   .label{
    margin-left: 0px;
   }
   .form-floating{
    margin-right: -20px;
    margin-left: -35px;
   }
   .btnt{
     margin-top: -65px;
     margin-left: 125px;
   }
   .slideshow-container{
    width: 250px;
  }
   .mySlides{
    width: 250px;
     }
  .d-blol{
   width: 120px;
   height: 110px;
   border-radius: 999px;
   margin-right: 0px;
   margin-top: 0px;
  }
  .terew_get{
    margin-top: 70px;
    margin-left: -250px;
  }
  .Garden{
    margin-right: 20px;
    font-size: 34px;
  }
  .terew_geh{
    margin-top: -70px;
    margin-right: -260px;
  }
  .text_ter{
    margin-top: 140px;
  }
  .coll_itet{
   width: 250px;
  }
  .coll_iten{
   margin-top: -10px;
   width: 450px;
   text-align: center;
  }
  .iter_rew{
    margin-left: 40px;
   width:250px;
  }
  .prev{
   margin-left: -2px;
   margin-top: 285px;
  }
  .next{
   margin-right: 2px;
   margin-top: 285px;
  }
  .dot-not{
   margin-right: -20px;
   
  }
 }
 @media screen and  (max-width: 460px){
   .btntt{
     margin-top: -30px;
    margin-left: 90px;
   }
   .btnt{
     margin-top: -65px;
     margin-left: 105px;
   }
   .img_fes{
   margin-left: 50px;
   }
   
   .div_itemm{
     margin-left: 30px;
   }
 
 }
 @media screen and  (max-width: 420px){
   .btntt{
     margin-top: -30px;
    margin-left: 70px;
   }
   .col_item{
    height: 240px;
   }
   .btnt{
     margin-top: -65px;
     margin-left: 85px;
   }
   .div_item{
     margin-left: 50px;
   }
   .div_itemm{
    margin-left: 60px;
  }
   .modal-img{
    margin-left: -70px;
   }
   .modal-titlet{
   margin-left: -70px;
   }
   .modal-title{
    margin-left: -70px;
    }
    .btn-close{
      margin-right: 50px;
    }
    .terewer{
      margin-left: -20px;
    }
    .img_fes{
      margin-left: 85px;
    }
 }
 @media screen and  (max-width: 370px){
   .btntt{
     margin-top: -30px;
    margin-left: 50px;
   }
   .iter_rew{
    margin-left: 10px;
   }
   .prev{
    margin-left: -30px;
    margin-top: 285px;
   }
   .next{
    margin-right: 30px;
    margin-top: 285px;
   }
   .dot-not{
    margin-right: 90px;
    
   }
   .col_item{
    height: 270px;
   }
   
   .btnt{
     margin-top: -65px;
     margin-left: 65px;
   }
   
   .img_fes{
     margin-left: 80px;
     }
     .label{
      width: 235px;
      height: 80px;
      margin-left: 10px;
     }
     .div_item{
      margin-top: 10px;
     }
     .btn-close{
      margin-right: 100px;
     }
    
 }
 @media screen and  (max-width: 320px){
   .btntt{
     margin-top: -30px;
    margin-left: 30px;
   }
   .floating-label{
     padding-top: -20px;
     margin-top: -10px;
    }
    
   .btnt{
     margin-top: -65px;
     margin-left: 45px;
   }
   .floating-label{
    margin-top: 5px;
   }
   .modal-titlet{
    margin-left: -140px;
   }
   .modal-title{
    margin-left: -140px;
   }
   .modal-img{
    margin-left: -140px;
   }
   .div_item{
    margin-left: 30px;
   }
   .btn-close{
    margin-right: 140px;
   }
   
 }
 @media screen and  (max-width: 290px){
   .btntt{
     margin-top: -30px;
    margin-left: 10px;
   }
   
   .btnt{
     margin-top: -65px;
     margin-left: 25px;
   }
   .div_itemm{
    margin-left: 20px;
   }
   .img_fes{
    margin-left: 40px;
   }
   .terewer{
    margin-left: -100px;
   }
 }
 @media screen and  (max-width: 350px){
   .template{
    width: 180px;
    height: 150px;
   }
   .col_iten{
    width: 180px;
    height: 360px;
    margin-bottom: 60px;
   }
   .btn_list__item{
    margin-top: 200px;
   }
   .reset_retes{
    width: 180px;
    height: 150px;
   }
   .class{
    text-align: center;
   }
   .text-secondaryrr{
     font-size: 10px;
   }
   .btn_list {
    text-align: center;
    
   }
   
   .btn-primaryrer-navbart{
     margin-left: 100px;
   }
   .btn_listtnn{
     margin-left: 5px;
     margin-top: 50px;
    }
    .btn_listt{
      margin-top: 10px;
      margin-left: 0px;
      width: 180px;
      font-size: 14px;
    }
 }
 
 
 @media screen and (max-width: 1440px){
     
   .hetas{
     display: none;
   }
 }
 
 @media screen and (max-width: 768px){
   .liniu{
     display: none;
   }
   .liniuu{
     display: none;
   }
 }